.analytics-page {
  display: flex;
  flex-direction: column;
}

#analytics-section-heading {
  color: #5076ff;
  font-size: 5em;
  margin: 5vh auto;
}

.analytics-container {
  height: 70vh;
  overflow-y: scroll;
}
.analytics-container::-webkit-scrollbar {
  display: none;
}

.analytics-section {
  /* position: relative; */
  display: grid;
  width: 70vw;
  margin: 4vh auto;
  font-size: 1.5em;
}
.analytics-section > div:nth-child(odd):not(.analytics-heading) {
  background-color: #b3c4ff;
}

.analytics-section > div:nth-child(odd):not(.analytics-heading) {
  background-color: #b3c4ff;
}

.analytics-group {
  display: flex;
  border-radius: 5px;
  padding: 0.5em;
  color: #000000;
}
.analytics-group > div:not(.question-hyperlink) {
  text-align: center;
  margin: auto 0;
}

.analytics-heading {
  background-color: #5076ff;
  color: #ffffff;
  /* position: fixed; */
  /* z-index: 50; */
}

.s-no {
  width: 4vw;
}

.quiz-name {
  width: 11vw;
}

.created-on {
  width: 10vw;
}

.impression {
  width: 10vw;
}

.analytics-margin {
  margin: 0 2ch;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 7vw;
}
.icons > a > img {
  height: 3vh;
  width: 1.2 vw;
}

.question-hyperlink {
  width: 12vw;
  margin: auto 3vw;
  text-decoration: underline;
  font-size: 1em;
}
