.live-quiz-Page {
  display: flex;
  flex-direction: column;
  gap: 7vh;
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

.live-quiz-questions {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  text-align: center;
  width: 100vw;
}

.page-headers {
  display: flex;
  justify-content: space-between;
  font-size: 2.5em;
  font-weight: 700;
  padding: 1em;
}
.page-headers > div:nth-child(2) {
  color: #d60000;
}

#question-text {
  font-size: 2.5em;
  font-weight: 700;
  width: 90vw;
  align-self: center;
}

.live-quiz-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  column-gap: 12vw;
  row-gap: 9vh;
  font-size: 2em;
  color: #000000;
  font-weight: 600;
  padding: 1em;
}

.option-text {
  background-color: #f0f0f0;
  width: 10vw;
  height: 10vh;
  width: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.option-images {
  height: 18vh;
  width: 15vw;
  border-radius: 5px;
  cursor: pointer;
}

.option-text-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  gap: 1ch;
  height: 15vh;
  width: 15vw;
  background-color: #f0f0f0;
  text-align: left;
  padding: 1em;
}
.option-text-images > span:nth-child(1) {
  text-wrap: wrap;
  font-size: 0.8em;
}
.option-text-images > span:nth-child(2) > img {
  height: 12vh;
  width: 8vw;
  border-radius: 10px;
}

.live-quiz-next-button {
  display: flex;
  justify-content: center;
}
.live-quiz-next-button > button {
  width: 11vw;
  height: 0.5vh;
  padding: 1em;
  font-size: 1.7em;
  font-weight: 600;
  background-color: #60b84b;
  color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .live-quiz-Page {
    gap: 4vh;
  }

  .live-quiz-questions {
    gap: 2vh;
  }
  #question-text {
    font-size: 2em;
  }

  .page-headers {
    font-size: 2.1em;
    padding: 0.5em;
  }

  .live-quiz-options {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 3vh;
    font-size: 2em;
    color: #000000;
    font-weight: 600;
    padding: 1em;
  }

  .option-text {
    width: 67vw;
    height: 7vh;
  }

  .option-images {
    height: 14vh;
    width: 60vw;
  }

  .live-quiz-next-button > button {
    width: 38vw;
    border-radius: 11px;
  }

  .option-text-images {
    height: 11vh;
    width: 55vw;
  }

  .option-text-images > span:nth-child(1) {
    font-size: 0.7em;
  }

  .option-text-images > span:nth-child(2) > img {
    height: 12vh;
    width: 27vw;
  }
}
