body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: Poppins;
  font-weight: 600;
  color: #474444;
  cursor: default;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: inherit;
}

.authenticators {
  background-color: white;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 60vw;
  align-items: center;
  margin: 10vh auto;
  padding: 3em;
  box-shadow: 3px 3px 30px 4px #00000026;
}

#heading {
  font-family: Jomhuria;
  font-weight: 400;
  font-size: 8em;
}

.routes {
  display: flex;
  gap: 10vw;
  font-size: 1.6em;
}
.routes > a {
  width: 10vw;
  text-align: center;
  border-radius: 5px;
}

.log-in > form,
.sign-up > form {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  gap: 6vh;
  align-items: center;
}

.labels-inputs {
  display: flex;
  gap: 2vw;
}

.labels,
.input-fields {
  text-align: end;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  justify-content: center;
}

.labels {
  font-size: 1.5em;
}

.input-fields > input {
  width: 20vw;
  padding: 0.3em;
  background-color: #f4f4f4;
  border: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.submit-button > button {
  background-color: #a9bcff;
  border: none;
  border-radius: 5px;
  width: 12vw;
  padding: 0.3em;
  font-family: Poppins;
  font-weight: 600;
  color: #474444;
  cursor: pointer;
}

#submit-button-login {
  margin-bottom: 10vh;
}
