body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: Poppins;
  font-weight: 600;
  color: #474444;
  cursor: default;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-not-found {
  width: fit-content;
  margin: auto;
  font-size: 5em;
}
